@import "tailwindcss";

/* Thème global aligné sur ton header (bg-slate-950) */
:root {
  --background: #020617; /* noir bleu profond */
  --foreground: #e5e7eb; /* texte clair type slate-200 */
}

/* On force ce fond partout */
html,
body {
  min-height: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

/* Optionnel : sécuriser le body */
body {
  margin: 0;
}